name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    name: Compile, test, and package modules
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Compile, test, and package modules
        run: ./bin/cibuild

      - name: Generate coverage report
        uses: codecov/codecov-action@v4
        with:
          file: ./target/site/jacoco/jacoco.xml
          name: codecov
